.compare-header{
	text-align: center;
	padding-top:@line-height-computed*3;
	padding-bottom:@line-height-computed;
}

.compare-table{
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	@media (min-width:@screen-sm-min){
		max-width:720px;
	}
}
.compare-table-primary,
.compare-table-secondary{
	&>ul{
		padding:0;
		margin:0;
		list-style: none;
		text-align: center;
		border:1px solid @table-border-color;
		&>li{
			font-size:@font-size-base;
			padding:@padding-large-vertical @padding-large-horizontal;
			border-bottom:1px solid @table-border-color;
			min-height:@line-height-computed * 3;
			&:last-child{
				border-bottom:0;
			}
			&:first-child{
				strong{
					font-size:@font-size-large;
				}
				span{
					display:block;
				}
			}
			h3{
				margin:0;
				font-size:@font-size-large;
			}
			.btn{
				text-align:center;
				strong{
					display:block;
				}
				span{
					font-size:@font-size-small;
				}
			}
		}
	}
	@media (min-width:@screen-sm-min){
		&>ul{
			&>li{
				font-size:@font-size-small;
				&:nth-child(2){
					height:@line-height-computed * 3;
				}
				&:nth-child(3),
				&:nth-child(4){
					height:@line-height-computed * 4;
				}
			}
		}
	}
}

.compare-table-primary{
	@media (min-width:@screen-sm-min){
		float:left;
		width:35%;
		border: 1px solid #CCC;
		padding: 5px;
		border-radius: 5px;
		&>ul{
			border-radius:5px;
			&>li{
				strong{
					font-size:@font-size-base;
				}
				&:first-child{
					padding-top:@font-size-large;
				}
			}
		}
	}
}
.compare-table-secondary{
	display:none;
	@media (min-width:@screen-sm-min){
		display:block;
		float:left;
		width:65%;
		overflow: auto;
		&>ul{
			margin-top:@line-height-computed * 2;
			width:33.33%;
			float:left;
			border-left:0;
			&:last-child{
				border-radius:0 5px 5px 0;
			}
			&>li{
				min-height:@line-height-computed * 3;
			}
		}
	}
}

.compare-partnership{
	text-align: center;
	margin:@line-height-computed * 2 0;
}