#navbar-compare.active,
#compare-jumbotron{
	background-color: #CDD3A4;
}

#compare-jumbotron{
	margin-bottom:0;
	.text-headline{
		h2,p{
			color:#4D5F1F;
		}
	}
}
.compareview-body{
	background-color:#E5E9C8;
	padding:@line-height-computed*2 0;
	margin-bottom:@line-height-computed*2;
}
.compare-table{
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	@media (min-width:@screen-sm-min){
		max-width:720px;
	}
}
.compare-table-primary,
.compare-table-secondary{
	&>ul{
		padding:0;
		margin:0;
		list-style: none;
		text-align: center;
		border:1px solid @table-border-color;
		&>li{
			font-size:@font-size-base;
			padding:@padding-large-vertical @padding-large-horizontal;
			border-bottom:1px solid @table-border-color;
			min-height:@line-height-computed * 3;
			background-color:#fff;
			&:last-child{
				border-bottom:0;
			}
			&:first-child{
				strong{
					font-size:@font-size-large;
				}
				span{
					display:block;
				}
			}
			h3{
				margin:0;
				font-size:@font-size-large;
			}
			.btn{
				text-align:center;
				strong{
					display:block;
				}
				span{
					font-size:@font-size-small;
				}
			}
		}
	}
	@media (min-width:@screen-sm-min){
		&>ul{
			&>li{
				font-size:@font-size-small;
				&:nth-child(2){
					height:@line-height-computed * 3;
				}
				&:nth-child(3),
				&:nth-child(4){
					height:@line-height-computed * 4;
				}
			}
		}
	}
}

.Rounded_Rectangle_1 {
  border-width: 1px;
  border-color: rgb( 225, 225, 225 );
  border-style: solid;
  border-radius: 3px;
  position: absolute;
  left: 155px;
  top: 116px;
  width: 226px;
  height: 400px;
  z-index: 2;
}


.compare-table-primary{
	background-color:rgb(255,248,229);
	background-image: -moz-linear-gradient( 90deg, rgb(255,240,212) 0%, rgb(255,248,229) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,240,212) 0%, rgb(255,248,229) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,240,212) 0%, rgb(255,248,229) 100%);
  &>ul{
  	&>li{
  		background-color:#fff;
  	}
  }
	@media (min-width:@screen-sm-min){
		float:left;
		width:35%;
		border:1px solid #CCB3A8;
		padding: 5px;
		border-radius: 5px;
		&>ul{
			border-radius:5px;
			&>li{
				strong{
					font-size:@font-size-base;
				}
				&:first-child{
					padding-top:@font-size-large;
				}
			}
		}
	}
}
.compare-table-secondary{
	display:none;
	@media (min-width:@screen-sm-min){
		display:block;
		float:left;
		width:65%;
		overflow: auto;
		&>ul{
			margin-top:@line-height-computed * 2;
			width:33.33%;
			float:left;
			border-left:0;
			&:last-child{
				border-radius:0 5px 5px 0;
			}
			&>li{
				min-height:@line-height-computed * 3;
				background-color: #FAFCF8;
			}
		}
	}
}

.compare-partnership{
	text-align: center;
	margin:@line-height-computed * 2 0 0;
}