.content-footer{
	text-align: center;
	padding:@padding-large-vertical * 2 0;
	color: #FFF;
	background:url('/static/img/face-bg-2.png') no-repeat 0 center #298692;
}

.base-footer{
	padding:@padding-large-vertical*4 0;

	background-color: #2A2C2E;
	color: #FFF;
}
.base-footer-links{
	padding:0;
	margin:0;
	list-style:none;
	overflow: auto;

	font-size:@font-size-small;

	strong{
		display:block;
	}
	&>li{
		margin-bottom:@padding-large-vertical;
		&>strong{
			color:#fff;
			padding:0 0 @padding-large-vertical;
		}
		p{
			color:#666;
			strong{
				color:#fff;
				margin-bottom:@padding-small-vertical;
			}
			a{
				display:block;
				padding:@padding-large-vertical;
				border:0;
				background-color:rgba(0,0,0,0.2);
				color:#666;
			}
		}
		ul{
			padding:0;
			margin:0 0 @padding-large-vertical;
			list-style: none;
			border:0;
			li{
				background-color:rgba(0,0,0,0.2);
				margin-bottom:@padding-small-vertical;
				&:last-child{
					border-bottom:0;
				}
				a{
					display:block;
					padding:@padding-large-vertical;
				}
			}
		}
	}

	//@SCREEN-SM-MIN

	@media (min-width:@screen-sm-min){
		&>li{
			float:left;
			width:20%;
			margin-bottom:0;
			&>strong{
				padding-bottom:@padding-small-vertical;
			}
			&>p{
				&>a{
					display:inline;
					padding:0;
					border:0;
					background-color:transparent;
				}
			}
			&>ul{
				border:0;
				&>li{
					background-color:transparent;
					border-bottom:0;
					&>a{
						display:inline;
						padding:0;
					}
				}
			}
		}
	}

	//@SCREEN-MD-MIN
	@media (min-width:@screen-md-min){
		&>li{
			width:auto;
			padding-right:@padding-large-horizontal * 2;
			min-width:100px;
			width:75%/4;
			&:first-child{
				width:25%;
			}
			&:last-child{
				padding-right:0;
			}
		}
	}
}


.base-footer-form{
	font-size:@font-size-small;

	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;

	.glyphicon{
		float: right;
		font-size: 18px;
		color: rgba(255, 255, 255, 0.1);
	}

	label{
		font-weight: 400;
		font-size:@font-size-small;
		color:@brand-success;
	}
	input[type=text]{
		font-size:@font-size-small;
		background-color: #424547;
		border:0;
		&:hover,
		&:focus,
		&:active{
			color:#fff;
			box-shadow: none;
		}
	}
	.btn{
		font-size:@font-size-small;
	}
	@media (min-width:@screen-sm-min){
		float: right;
	}
}