.container + .container{
	margin-top:@line-height-computed;
}

.jumbotron{
	text-align: center;
	padding:0;
	height:375px;
	display:table;
	width:100%;
	.jumbotron-text{
		display: table-cell;
		vertical-align: middle;
	}
}

.slider-nav{
	margin-bottom:@line-height-computed;
	ul{
		padding:0;
		margin:0;
		list-style: none;
		overflow: auto;
		&>li{
			float:left;
			width:25%;
			padding-right:@padding-small-horizontal;
			img{
				float: left;
				margin-right:@padding-small-horizontal;
			}
			p{
				font-size:@font-size-small;
				margin-bottom:0;
			}
		}
	}
}

.slider-container{
	ul{
		padding:0;
		margin: 0;
		list-style: none;
	}
}
.slider-slides{
	position:relative;
	height:386px;
	background-color:#eee;
}
.slider-slides-text{
	text-align: center;
	position:absolute;
	bottom: @line-height-computed;
	text-align: center;
	padding:@padding-large-vertical 0;
	width:100%;
}