.container + .container{
	margin-top:@line-height-computed;
}

.jumbotron{
	text-align: center;
	padding:0;
	height:320px;
	display:table;
	width:100%;

	.jumbotron-text{
		display: table-cell;
		vertical-align: middle;
		color:#16476F;
		height:440px;
		&>img{
			margin-bottom:@line-height-computed;
		}

	}
}
#homeview-jumbotron{
	background: url('/static/img/faces-1.png') repeat-x center 45px;
	border-bottom: 1px solid #EEE;
	margin-bottom:0;
	.jumbotron-text{
			.text-headline{
			margin-top: 230px;
		}
	}
}
#homeview-body{
	background-color: #ECF4F8;
	padding-top:@line-height-computed;
}

.slider-nav{
	margin-bottom:@line-height-computed;
	&>ul{
		&>li{
			padding-right:@padding-small-horizontal;
			img{
				float: left;
				margin-right:@padding-small-horizontal;
				border-radius:3px;
				background-color:#fff;
			}
			p{
				font-size:@font-size-small;
				margin-bottom:0;
			}
		}
	}
}

.slider-container{
	margin-bottom:@line-height-computed * 2;
	&>ul{
		padding:0;
		margin: 0 auto;
		list-style: none;
		max-width:@screen-md-min;
		&>li{
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			margin-bottom:@line-height-computed;
			overflow: auto;
			border-bottom:1px solid #ccc;
			background-color:#fff;
		}
	}
	@media (min-width:@screen-md-min){
		&>ul{
			padding-top:@line-height-computed/2;
		}
	}
}

.slider-slides{
	position:relative;
	margin:@padding-small-horizontal;
}
.slider-slides-text{
	text-align: center;
	padding:@padding-large-vertical;
	width:100%;
	&>img{
		margin:@line-height-computed 0;
		width:100%;
	}
	p{
		color:#666;
	}
	@media (min-width:@screen-sm-min){
		&>img{
			width:auto;
		}
	}
}

.showcase{
	margin-bottom:@line-height-computed * 2;
	&>ul{
		&>li{
			text-align: center;
			img{
				width:100%;
			}
		}
	}
	@media (min-width:@screen-md-min){
		&>ul{
			&>li{
				img{
					width:auto;
				}
			}
		}
	}
}