.container + .container{
	margin-top:@line-height-computed;
}

.jumbotron{
	text-align: center;
	padding:@line-height-computed 0;
	height:320px;
	display:table;
	width:100%;

	.jumbotron-text{
		display: table-cell;
		vertical-align: middle;
		color:#16476F;
	}
}
#homeview-jumbotron{
	background-color:#fff;
	border-bottom: 1px solid #EEE;
	margin-bottom:0;

	.jumbotron-text{
		height:430px;
		.topic{
			-webkit-transition: color 0.5s linear;
			-moz-transition: color 0.5s linear;
			transition: color 0.5s linear;
		}
	}
	@media (min-width:@screen-md-min){
		background: url('/static/img/faces-1.png') no-repeat center 45px;
	}
}

.slider-faces{
	width:100%;
	margin:0 auto @line-height-computed;
	position: relative;
	height: 192px;
	.face{
		background:url('/static/img/faces-1-color.png') no-repeat 0 0 transparent;
		height: 192px;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
		transition: opacity 0.5s linear;
		margin:0 auto
	}
	@media (min-width:@screen-md-min){
		width:1025px;
		.face{
			margin:0;
			position:absolute;
		}
	}
}


#homeview-body{
	background-color: #ECF4F8;
	padding-top:@line-height-computed;
}

.benefits-header {
	text-align: center;
	margin-bottom:@line-height-computed;
}

ul.benefits {
	margin-bottom:@line-height-computed;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom:1px solid #ccc;
	background-color:#fff;
	padding:0;
	&>li{
		padding:	@line-height-computed*3 0;
		border-bottom: 1px solid #eee;
		overflow: auto;
		&:last-child{
			border-bottom: 0;
		}
		.benefits-image{
			text-align: center;
			margin-bottom: @line-height-computed;
			&.pull-right{
				float:none !important;
			}
			img{
				width:100%;
				max-width:400px;
			}
		}
		.benefits-text{
			clear:both;
			text-align: center;
			h2{
				margin-bottom:@line-height-computed;
			}
			p{
				font-size:	@font-size-large;
				color:			#666;
			}
		}
	}
	@media (min-width:@screen-sm-min){
		&>li{
			.benefits-text{
				text-align: left;
			}
		}
	}
	@media (min-width:@screen-md-min){
		&>li{
			.benefits-image{
				text-align: right;
				&.pull-right{
					float:right !important;
					text-align: left;
				}
			}
			.benefits-text{
				clear:none;
			}
		}
		.benefits-text{
			.benefits-text-inner-right{
				margin-top: @line-height-computed *2;
				width: 450px;
			}
			.benefits-text-inner-left{
				width: 450px;
				margin-left:auto;
				margin-top: @line-height-computed *2;
			}
		}
	}
}


.showcase{
	margin-bottom:(@line-height-computed * 2);
	&>ul{
		&>li{
			text-align: center;
			img{
				width:100%;
			}
		}
	}
	@media (min-width:@screen-md-min){
		&>ul{
			&>li{
				img{
					width:auto;
				}
			}
		}
	}
}


