.list-span{
	padding:0;
	margin:0;
	list-style:none;
	overflow: auto;
	&>li{
		margin-bottom:@line-height-computed;
		overflow: auto;
	}
	@media (min-width:@screen-sm-min){
		&>li{
			float:left;
			margin-bottom: 0;
		}
		&.list-span-3{
			li{
				width:29%;
				margin-right:2%;
				margin-left:2%;
				&:last-child{
					margin-right:0;
				}
			}
		}
		&.list-span-4{
			li{
				width:24%;
				margin-right:1%;
				&:last-child{
					margin-right:0;
				}
			}
		}
		&.list-span-5{
			li{
				width:19%;
				margin-right:1%;
				&:last-child{
					margin-right:0;
				}
			}
		}
	}
	@media (min-width:@screen-lg-min){
		width:85%;
		margin-left:auto;
		margin-right:auto;
	}
}